<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startseite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<p><span  th:text="${time}"></span></p>

    <div class="container">
        <div class="row">
            <h1>Ausgaben</h1>
        </div>
        <div class="row">
            <div class="col-6">
                <form th:filter="@{/}">

                    <span class="btn-group" role="group" aria-label="filter">
                        <button class="btn disabled btn-outline-primary ">Filter:</button>
                        <button type="submit" class="btn btn-primary" value="1" th:name="filter">kein Filter</button>
                        <button type="submit" class="btn btn-primary" value="2" th:name="filter">Datum</button>
                        <button type="submit" class="btn btn-primary" value="3" th:name="filter">Name</button>
                        <button type="submit" class="btn btn-primary" value="4" th:name="filter">Betrag</button>
                        <button type="submit" class="btn btn-primary" value="5" th:name="filter">Schlüsselwort</button>
                    </span>

                </form>

            </div>
            <div class="col-6">
                <a href="/expenseForm"><button  class="btn btn-success float-right" >neuer Eintrag</button></a>
            </div>

        </div>
        <div class="row">
            <br>
        </div>
        <div class="row" th:if="${filter}==1">
            <p>kein Filer ausgewählt</p>
        </div>
        <div class="row" th:if="${filter}==2">
            <form>
                <label for="date1" >von</label>
                <input type="date" id="date1" name="param1">
                <label for="date2" >bis</label>
                <input type="date" id="date2" name="param2">
                <input type="hidden" value="2" name="filter"/>
                <input type="submit" id="" value="Filtern!" >
            </form>
        </div>
        <div class="row-6" th:if="${filter}==3">
            <form>
                <input type="text">
                <input type="submit" value="Filtern!">
                <input type="hidden" value="3" name="filter"/>
            </form>
        </div>
        <div class="row-6" th:if="${filter}==4">
            <form method="get" th:action="@{/}" >
                <label>Untergrenze</label>
                <input type="number" name="param1"/>
                <label>Obergrenze</label>
                <input type="number " name="param2"/>
                <input type="hidden" value="4" name="filter"/>
                <input type="submit" value="Filtern!"/>
            </form>
        </div>
        <div class="row-6" th:if="${filter}==5">
            <form>
                <input type="text" placeholder="Schlüsselwort in der Notiz">
                <input type="submit" value="Filtern!">
                <input type="hidden" value="5" name="filter"/>
            </form>
        </div>
        <div class="row-6"></div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <td>ID</td>
                        <td>Datum</td>
                        <td>Name</td>
                        <td>Betrag in €</td>
                        <td>zusätzliche Notiz</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction :${bl}">
                        <td th:text="${transaction.transactionID}"></td>
                        <td th:text="${transaction.date}"></td>
                        <td th:text="${transaction.name}"></td>
                        <td th:text="${transaction.betragInEuro}"></td>
                        <td th:text="${transaction.notiz}"></td>
                        <td>
                            <form action="/deleteExpense" method="get">

                                <button class="btn btn-danger float-right" name="id"  th:value="${transaction.transactionID}" type="submit" >Löschen</button>
                            </form>
                            <form action="/changeExpense" method="get">
                            <button name="id" class="btn btn-info float-right" th:value="${transaction.transactionID}" type="submit" >Bearbeiten</button>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>